footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    width: 100%;
    height: fit-content;

    background-color: #A19F9F;
}

footer > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 10vh 0;
}

/* Mobile */
@media screen and (max-width:380px){
    footer{
        background-color: blue;
    }
}