
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    width: 100%;
    height: 20vh;

    background-color: #DAE5E8;
}

header button{
    display: none;

    border: 1px solid transparent;
    background-color: transparent;
}

header > img {
    height: 100%;
}

    
.busca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 20vw;
    height: 5vh;
    margin-right: 5rem;

    background-color: white;
}

.busca > *{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid transparent;
    padding-left: 2%;
}

.busca input{
    width: 18vw;
    padding-left: 1vw;
}

.busca img{
    width: 2vw;
    height: 80%;
    opacity: .5;
}


/* Mobile */
@media screen and (max-width:380px){
    header {
        height: 12vh;

        justify-content: space-around;
        background-color: #DAE5E8;
    }

    header button {
        display: block;
    }

    header > img{
        height: 90%;
    }

    .busca{
        height: 60%;
        width: fit-content;
    }
    .busca input{
        display: none;
    }
    .busca img {
        display: none;
    }

}



