

/*header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    width: 100vw;
    height: 10vh;

    background-color: cadetblue;
}

.logo{
    width: 30%;
    height: 90%;

    border: 1px solid black;
}

.busca{
    width: 50%;
    height: 90%;

    border: 1px solid black;
}

.busca{
    padding: 10px;
    margin: 10px;
    width: 450px;
color: blue;
}


/* Mobile */
@media screen and (max-width:380px){
    header{
        background-color: blue;
    }
}




.logo {
background-color: hsl(224, 87%, 27%);
display: flex;
justify-content:space-between;
align-items: center;
margin: 2px;
border: black;
padding: 2px;
}


.busca{
    padding: 10px;
    margin: 10px;
    width: 450px;
color: blue;
}







img{
    height: 100px;
}