main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding: 5rem 0;

    height: 80vh;
    background-color: rgb(148, 207, 148);
}

section{
    width: 90%;
    margin: 3rem 0;

    
    height: 100px;
    border: 1px solid black;
}

/* Mobile */
@media screen and (max-width:380px){
    main{
        background-color: blue;
    }
}