nav{
    width: 100vw;
    height: 5vh;

    background-color: rgb(182, 182, 182);
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;

    list-style: none;
}

nav ul li a{
    color: rgb(25, 25, 172);

    font-weight: 700;
}

nav ul li a:hover{
    color: chartreuse;
}

nav ul li a:active{
    color: chartreuse;
}

/* Mobile */
@media screen and (max-width:380px){
    nav{
        background-color: blue;
    }
}